<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the preliminaries_init() hook (in hooks/preliminaries.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="preliminaries-team-<%%VALUE(id)%%>" class="preliminaries-team"><%%VALUE(team)%%></td>
		<td id="preliminaries-matches-<%%VALUE(id)%%>" class="preliminaries-matches"><%%VALUE(matches)%%></td>
		<td id="preliminaries-wins-<%%VALUE(id)%%>" class="preliminaries-wins"><%%VALUE(wins)%%></td>
		<td id="preliminaries-losses-<%%VALUE(id)%%>" class="preliminaries-losses"><%%VALUE(losses)%%></td>
		<td id="preliminaries-draws-<%%VALUE(id)%%>" class="preliminaries-draws"><%%VALUE(draws)%%></td>
		<td id="preliminaries-points-<%%VALUE(id)%%>" class="preliminaries-points"><%%VALUE(points)%%></td>
		<td id="preliminaries-created_by-<%%VALUE(id)%%>" class="preliminaries-created_by"><%%VALUE(created_by)%%></td>
		<td id="preliminaries-edited_by-<%%VALUE(id)%%>" class="preliminaries-edited_by"><%%VALUE(edited_by)%%></td>
