<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the schools_init() hook (in hooks/schools.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="schools-school_crest-<%%VALUE(id)%%>" class="schools-school_crest"><img src="thumbnail.php?i=<%%VALUE(school_crest)%%>&t=schools&f=school_crest&v=tv" class="img-thumbnail"></td>
		<td id="schools-school_name-<%%VALUE(id)%%>" class="schools-school_name"><%%VALUE(school_name)%%></td>
		<td id="schools-school_address-<%%VALUE(id)%%>" class="schools-school_address"><%%VALUE(school_address)%%></td>
		<td id="schools-school_postcode-<%%VALUE(id)%%>" class="schools-school_postcode"><%%VALUE(school_postcode)%%></td>
		<td id="schools-contact_name-<%%VALUE(id)%%>" class="schools-contact_name"><%%VALUE(contact_name)%%></td>
		<td id="schools-contact_email-<%%VALUE(id)%%>" class="schools-contact_email"><a href="mailto:<%%VALUE(contact_email)%%>" title="<%%VALUE(contact_email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="schools-contact_phone-<%%VALUE(id)%%>" class="schools-contact_phone"><%%VALUE(contact_phone)%%></td>
		<td id="schools-esports_coach-<%%VALUE(id)%%>" class="schools-esports_coach"><%%VALUE(esports_coach)%%></td>
		<td id="schools-created_by-<%%VALUE(id)%%>" class="schools-created_by"><%%VALUE(created_by)%%></td>
